@import "tailwindcss";

@theme {
  --animate-marquee-rtl: marquee-rtl 25s linear infinite;
}

@keyframes marquee-rtl {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}