@import "tailwindcss";

* {
   box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.Navbar {
    padding-left: 30px;
    padding-right: 30px;
}
.ctegory_section{
   margin-top: 20px;
   margin-bottom: 10px;
}
footer{
    padding-top: 60px;
    margin-top: 10px;
}

@media (max-width: 420px) {
    .hero_section {
        margin: 20px;
    }
}